@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f00606;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  padding: 1rem;
  text-align: center;
}


